<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultUnit</key>
	<string>℃</string>
	<key>DefaultCountry</key>
	<string>SK</string>
	<key>DefaultCity</key>
	<string>Zilina</string>
</dict>
</plist>
